.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.badge {
    color: #fff;
    width: fit-content;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
}

.badge.high {
    background-color: #d573b6;
}

.badge.medium {
    background-color: #fea065;
}

.badge.low {
    background-color: #92a5fb;
}

.cards-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-icons {
    display: flex;
    gap: 18px;

    p img {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.user img {
        width: 42px;
        height: 42px;
        border-radius: 100%;
        object-fit: cover;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

.dragging {
    opacity: 0.5;
}

.cards-hover {
    background-color: #eaeffa;
    border-radius: 10px;
}